li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #32669A;
}
img:not(.icon){
	border: 6px double #CCCCCC;
}
/* HEADER*/
header{
	background-color: #313333;
	padding:1%;
}
/*LOGO*/
#logo{
	height: 50%;
	width: 50%;
}
/*MENU*/
.menu{
	display: inline;
}
header a{
	color: white;
	font-size: 18px;
	padding-left: 2%;
	font-family: 'PT Sans', sans-serif;
	
}
header nav{
	margin-top:6%;
	text-align: right;
}
/*SECTION GRIS*/
.sgris{
	background-color: #EFF0F0;
	padding: 3%;
	text-align: center;
	font-family: Arial;
	color:#32669A;
	font-weight: bold;
}
	/*LATEST EPISODES*/
h2{
	text-align: left;
	color: black;
	font-family: Arial, sans-serif;
	letter-spacing: 0.3px;
}
h2 a{
	font-size: 15px;
}
	/*DISCOS GRANDES*/
.discosg{
	width: 95%;
	margin-top:10%;
	margin-bottom: 3%
}


/*SECTION BLANCA*/
.swhite {
	padding-top: 2%;
	border-top: 2px solid #BBBBBB;
}
.swhite img{
	width: 100%;
	margin-top: 10%;
}
/*DISCOS CHICOS*/
.imagen5{
	padding-right: 120px;
}
.swhite p{
	color: #32669A;
	text-align: center;
}
/*MENÚ LATERAL*/
.mlateral img{
	width: 18px;
	margin-right:4%;
}
.mlateral *{
	margin-top: 5%;
	font-family: 'PT Sans', sans-serif;
}
#sponsored{
	line-height: 30px;
	border-top: 2px solid #DDDDDD;
	padding-top: 6%;
}
.mlateral h3{
	border-bottom: 2px solid #DDDDDD;
	size: 18px;
	padding-top: 6%;
}

/*FOOTER*/
footer{
	background-color: #585858;
	padding: 2%;
	text-align: center;
	margin:50px;
	font-family: 'PT Sans', sans-serif;
}
footer p{
	color: white;
	text-align: left;
	line-height: 45px;
}
footer a{
	color: #CCCCCC;
}
footer ul{
	margin-top: 30px;
}
.menuinf{
	font-size: 18px;
	padding-left: 2%;
}
#copyright{
	color: #999999;
	text-align: center;
	margin-top: 30px;
}